@import "../vendor/milligram/milligram.css";

/* Theme override */
a {
  color: #606c76;
}

a:hover {
  color: #a3c2d5;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background: #cbe2f0;
  border: 1px solid #a3c2d5;
  color: #606c76;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus, select:focus {
  border-color: #a3c2d5;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23c3c2d5" d="M0,0l6,8l6-8"/></svg>');
}

main {
  padding: 1em;
}

form textarea {
  min-width: 100em;
}

/* Flash CSS */
#flash, #disconnected {
  background: #cbe2f0;
  border: 1px solid #a3c2d5;
  border-radius: .5em;
  color: white;
  margin: 1em 0;
  text-align: center;
}

#flash p, #disconnected p {
  display: inline-block;
  margin: 0;
  padding: 0.5em 0;
}

#flash button, #disconnected button {
  float: right;
  background: transparent;
  border: none;
  color: white;
  padding: 0 2em;
  margin: 0;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown div[role="menu"] {
  display: none;
  white-space: nowrap;
}

.dropdown.open div[role="menu"] {
  background: white;
  box-shadow: 3px 3px 10px #cad0d5;
  border-radius: 5px;
  display: block;
  left: -1em;
  padding: 1em 1em 1em 1em;
  position: absolute;
  text-align: left;
  top: 2em;
}

.dropdown.open div[role="menu"] a {
  display: block;
}

.dropdown button {
  background: none;
  border: none;
}

/* Modal */
.modal {
  position: relative;
  z-index: 50;
  display: hidden;
}

.modal .background {
  /* zing-59/90 */
  background: grey;
  background: #ddd8d86b;
  backdrop-filter: blur(2px);
  transition-property: opacity;
  position: fixed;
  /*inset: 0;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal .inlay {
  position: fixed;
  /*inset: 0;*/
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal .inlay > div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.modal .inlay > div > div {
  padding: 1rem;
  width: 100%;
  max-width: fit-content;
}

@media (min-width: 640px) {
  .modal .inlay > div > div {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .modal .inlay > div > div {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.modal .focus-wrap {
  display: none;
  position: relative;
  padding: 3.5rem;
  background-color: #ffffff;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.modal .close {
  position: absolute;
  top: 6px;
  right: 5px;
}

.modal .close button {
  padding: 0.75rem;
  margin: -0.75rem;
  flex: none;
  opacity: 0.2;
  background: transparent;
  border: none;
  color: black;
  padding: 1em;
}

.modal .close button:hover {
 opacity: 0.4;
}

.modal .focus-wrap form button[type=submit] {
  width: 100%;
}

/* Nav */
nav {
  text-align: right;
}

/* .list */

dl dt {
  font-weight: bold;
  margin: 0;
}

dl dd {
  margin: 0 0 1em 0;
}

dl dd table thead {
  background: transparent;
}

/* Tables */
table {
  border-radius: 0.2em;
  overflow: hidden;
}

table thead {
  background: #d7dbdd;
}

table thead th, table tbody td,
table thead th:first-child, table tbody td:first-child,
table thead th:last-child, table tbody td:last-child {
  padding: 0.5em 1em;
  vertical-align: top;
}

table th.actions, table td.actions {
  /* as small as possible */
  width: 1em;
  white-space: nowrap;
}

table tbody:hover {
  background: #f1f3f4;
}

/* Utility */
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* components */

.content {
  margin: 0 auto;
  text-align: center;
}

form .guest .name {
  display: inline-block;
  width: calc(100% - 11em);
}

form .guest .age {
  display: inline-block;
  width: 8em;
  vertical-align: top;
}

form .guest button {
  background: #eee;
  border: #ddd 1px solid;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  padding: 0;
  line-height: 1em;
  text-align: center;
  vertical-align: middle;
  margin: 0.5em;
}

.rsvp-group {
  margin: 0 auto;
  text-align: center;
  border: #ddd 1px solid;
  border-radius: 10px;
  max-width: 50em;
}

.rsvp-group h1 {
  font-size: 1em;
  padding: 1em;
}

.rsvp form {
  display: inline-block;
  padding: 0 2em;
  width: 20em;
}
