@import "../vendor/milligram/milligram.css";

/* Theme override */
a {
  color: #606c76;
}

a:hover {
  color: #a3c2d5;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background: #cbe2f0;
  border: 1px solid #a3c2d5;
  color: #606c76;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus, select:focus {
  border-color: #a3c2d5;
}

main {
  padding: 1em;
}

/* Flash CSS */
#flash {
  background: #cbe2f0;
  border: 1px solid #a3c2d5;
  border-radius: .5em;
  color: white;
  margin: 1em 0;
  text-align: center;
}

#flash p {
  display: inline-block;
  margin: 0;
  padding: 0.5em 0;
}

#flash button {
  float: right;
  background: transparent;
  border: none;
  color: white;
  padding: 0 2em;
  margin: 0;
}

/* Nav */
nav {
  text-align: right;
}

/* Tables */
table {
  border-radius: 0.2em;
  overflow: hidden;
}

table thead {
  background: #d7dbdd;
}

table thead th, table tbody td,
table thead th:first-child, table tbody td:first-child,
table thead th:last-child, table tbody td:last-child {
  padding: 0.5em 1em;
}

table tbody tr:hover {
  background: #f1f3f4;
}

/* Utility */
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
